<!-- location header -->
<p class="lead location-header">{{name}}</p>

<!-- location information div -->
<div class="location-info">
  <p>
    {{formatted_address}}<br>
    {{formatted_phone_number}}<br>
    <a href="{{website}}" target="_blank">{{website}}</a>
  </p>
</div>

<!-- new review -->

<form
class="hbs"
action="/groups/{{group_id}}/locations"
method="POST">

<input type="hidden" name="place_id" value="{{place_id}}">
<input type="hidden" name="website" value="{{website}}">
<input type="hidden" name="address" value="{{formatted_address}}">
<input type="hidden" name="phone_number" value="{{formatted_phone_number}}">
<input type="hidden" name="title" value="{{name}}">
<input type="hidden" name="lat" value="{{geometry.location.k}}">
<input type="hidden" name="lng" value="{{geometry.location.B}}">
<input type="hidden" name="authenticity_token" value="">
<label><input type="radio" name="rating" value="1"required> Try it!</label>
<label><input type="radio" name="rating" value="-1"required> Skip it!</label>
<input type="textarea" required name="review" >
<input type="submit" value="Save">
</form>