
 <% if !@current_user %>
<h1>PLEASE SIGN IN</h1>
 <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  <% else %>
    <h1>User Profile</h1>
     <%= image_tag(@current_user.image) %>
    <p>Signed in as <strong><%= @current_user.first_name %></strong>!</p>

    <%= link_to "Sign out", signout_path, id: "sign_out" %>

  <h3>Groups</h3>
  <%= link_to "Create New Group", new_group_path %>

  <% @groups.each do |g| %>
    <p><%= link_to g.name, group_map_path(g)%></p>

    <!-- Find if owner for leave or delete/edit -->
    <% if g.is_owned_by_user?(@current_user) %>
      <%= link_to "Edit", edit_group_path(g) %><br> <!-- Edit group if owner -->
      <%= link_to "Delete Group", group_path(g), method: :delete, :data => {:confirm => 'Are you sure? Because you are the owner this will delete it for everyone...'} %>
    <% else %>
      <%= link_to "Leave Group", leave_group_path(g), method: :delete, :data => {:confirm => 'Are you sure you want to leave this group?'} %>
    <% end %>
    <hr>
  <% end %>

  <% end %>

