<h1>Edit Group</h1>

<%= form_for(@group, url:group_path, method: :put) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <p>
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </p>

    <p>
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
