<h1>Create a New Group</h1>

<%= form_for @group do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <p>
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </p>

    <p>
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

